<main class="main">
    <div class="content">
        <h1>Welcome to {{ title }}</h1>

        <mat-form-field>
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="region">
                @for (region of regions; track region) {
                    <mat-option [value]="region.value">{{ region.label }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <table>
            <thead>
                @for (column of columns(); track column) {
                    <th>{{ column }}</th>
                }
            </thead>
            <tbody>
                @for (row of rows(); track row) {
                    <tr>
                        @for (item of row; track item) {
                            <td>{{ item }}</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>


<router-outlet/>
